.forge/
build/latest.env
build/forge-dist/
build/archiso-profile/
build/archiso-work/
build/iso/
build/user-desktop-backup/
FORGE-OS_ISO_linux_x86_x64/*.iso
UserFiles/
*.log
*.tmp
*.bak
.DS_Store
node_modules/
dist/
cache/
